body{
    margin:0;
    padding:0;
    font-family:Arial;
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:500px;
    background:#111827;
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,255,255,0.3);
}

button{
    padding:12px 20px;
    border:none;
    border-radius:10px;
    background:#06b6d4;
    color:white;
    cursor:pointer;
    margin-top:15px;
}

button:hover{
    background:#0891b2;
}

.result{
    margin-top:20px;
}