<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cat Dog AI</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

    <div class="container">

        <h1>🐱🐶 Nhận diện mèo và chó bằng CNN</h1>

        <p>Upload ảnh để AI dự đoán.</p>

        <form
            action="/predict"
            method="POST"
            enctype="multipart/form-data"
        >

            <input
                type="file"
                name="file"
                required
            >

            <br>

            <button type="submit">
                Predict
            </button>

        </form>

        {% if prediction %}

        <div class="result">

            <h2>{{ prediction }}</h2>

            <p class="confidence">
                Confidence:
                {{ confidence }}%
            </p>

            <img
                src="{{ image_path }}"
                alt="Uploaded Image"
            >

        </div>

        {% endif %}

    </div>

</body>
</html>